* {
    box-sizing: border-box;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  main section {
    background-color: #95c623;
    border: 3px solid #0e4749;
    padding: 0.8rem;
  }
  
  main section h2 {
    margin: 0;
  }
  
  main section.grid-col-span-2 {
    background-color: #e55812;
    color: white;
    grid-column: span 2;
  }
  
  main section.grid-row-span-2{
    background-color:#0e4749;
    color:white;
    grid-row: span 2;
  } 
  

